<div style="margin-left: auto; margin-right: auto">
  <p id="loginFeedback"></p>
</div>
<div>
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
      <label for="email">Email:</label>
      <input id="email" formControlName="email" type="email" placeholder="Enter your email" />
    </div>
    <div>
      <label for="password">Password:</label>
      <input id="password" formControlName="password" type="password" placeholder="Enter your password" />
    </div>
    <button type="submit">Login</button>
  </form>
</div>